@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

.login-page-bg {
    background-image: url('/circle-scatter-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;

}



@media(max-width:500px) {
    .login-register-box {

        padding: 20px 5px;
    }

    .login-register-box h1 {
        text-align: center;
    }

    .form-box {
        width: 100%;
    }
}

@media(max-width:767px) {
    .login-register-box {

        padding: 20px 20px;
    }

    .login-register-box h1 {
        text-align: center;
    }

    .form-box {
        width: 100%;
    }
}

@media(max-width:1000px) {
    .form-box {
        width: 95%;
    }
}